<a href="https://colab.research.google.com/github/Mileej/Data_science_-CD/blob/main/Rename__delete_and_others.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [181]:
#import library
from google.colab import drive
import pandas as pd

In [182]:
#read
bike_df=pd.read_excel('/content/drive/MyDrive/Semestre 2022-2/CODING_DOJO_DS/semana 2/RailsToTrails_National Count Data_week.xlsx')
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [183]:
bike_df.dtypes

Timeframe                             object
Week of                       datetime64[ns]
 2019 counts (31 counters)           float64
 2020 counts (31 counters)           float64
2021 Counts                          float64
Change 2019-2020                     float64
Unnamed: 6                           float64
Unnamed: 7                           float64
Unnamed: 8                           float64
Unnamed: 9                           float64
dtype: object

In [184]:
bike_df.nunique()

Timeframe                     52
Week of                       52
 2019 counts (31 counters)    52
 2020 counts (31 counters)    52
2021 Counts                    0
Change 2019-2020              44
Unnamed: 6                    52
Unnamed: 7                     0
Unnamed: 8                     1
Unnamed: 9                     1
dtype: int64

1. Eliminen las columnas innecesarias:

In [185]:
bike_df=bike_df.drop(columns=['Unnamed: 7','Unnamed: 8','Unnamed: 9'])
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

2. Renombren la columna Unnamed: 6 a percent_change.

In [186]:
bike_df=bike_df.rename(columns={'Unnamed: 6':'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

3. Rellenen los valores faltantes en la columna 2021 Counts con 0.

In [187]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [188]:
bike_df['2021 Counts'].fillna(0,inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

4. Opcional/bonus: Hay un problema desafiante pero común en el nombre para la columna de recuentos de 2019. ¿Pueden encontrarlo? Si es así, cambien el nombre de la columna de recuentos de 2019 (31 contadores) a "counts_2019" (un nombre de columna más de Python).

In [189]:
columns_names = bike_df.columns.values
columns_names

array(['Timeframe', 'Week of', ' 2019 counts (31 counters)',
       ' 2020 counts (31 counters)', '2021 Counts', 'Change 2019-2020',
       'percent_change'], dtype=object)

In [190]:
bike_df=bike_df.rename(columns={' 2019 counts (31 counters)':'counts_2019'})
bike_df.head()

,Timeframe,Week of,counts_2019,2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602